[Unit]
Description=Update hostname to match instance name
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /opt/utilities/update-hostname.sh

[Install]
WantedBy=default.target